portfolio.dtd

<!ELEMENT portfolio (menu)>
<!ELEMENT menu (item+)>
<!ELEMENT item (name, content)>
<!ELEMENT name (lang+)>
<!ELEMENT content (lang+|project+)>
<!ELEMENT lang (#PCDATA)>
<!ATTLIST lang code CDATA #REQUIRED>
<!ELEMENT project (title, description)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT description (#PCDATA)>
